.wrapper {
  padding: 20px;
}

.card {
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 50px;
  text-align: center;
  display: flex;
  margin-bottom: 10px;
}

.card-image {
  height: 200px;
}

.card-content {
  font-size: 1rem;
  color: black;
  padding: 10px;
  text-align: center;
}

.card-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.btn {
  width: 90px;
}
